h2,
h3 {
  margin: 0 auto;
}

p {
  margin: 0 auto;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
body {
  font-family: "DM Sans";
  background-color: #ae1332;
}
ul {
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.card-1 {
  background-color: #f8766b;
  position: relative;
  perspective: 1000px;
}
.card-2 {
  background-color: #edd251;
}
.card-3 {
  background-color: #9dc262;
}
.card-4 {
  background-color: #bfd663;
}
.card-5 {
  background-color: #e93f29;
}
.card-6 {
  background-color: #db4f4b;
}
.card-7 {
  background-color: #9b5366;
  display: none;
}
.card-8 {
  background-color: #f47f4c;
  display: none;
}
.card-9 {
  background-color: #98b37e;
  display: none;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
}
.card {
  border-radius: 20px;
  padding: 64px 24px 24px 24px;
}
.price {
  position: absolute;
  left: 24px;
  bottom: 24px;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  align-items: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 7px;
}
.content {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.price {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  align-items: center;
  letter-spacing: -0.04em;
  color: #ae1332;
}
.section-header {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.header-content {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }
  .card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
  }
  .card {
    border-radius: 20px;
    padding: 64px 24px 24px 24px;
    width: calc(100% / 2 - 8px);
  }
  .card-7 {
    background-color: #9b5366;
    display: block;
  }
  .card-8 {
    background-color: #f47f4c;
    display: block;
  }
}
/* Загальні стилі для десктопу */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 33px;
  }
  .header-content {
    width: 547px;
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
  .card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
  }
  .card {
    border-radius: 20px;
    padding: 64px 24px 24px 24px;
    width: calc(100% / 3 - 16px);
  }
  .card-7 {
    background-color: #9b5366;
    display: block;
  }
  .card-8 {
    background-color: #f47f4c;
    display: block;
  }
  .card-9 {
    background-color: #98b37e;
    display: block;
  }
}
.card-1 {
  position: relative;
  perspective: 1000px;
}

.image-wrapper {
  position: relative;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 50px;
}

.back-text {
  max-width: 320px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
}

.image-wrapper:hover .flip-card {
  transform: rotateY(180deg);
}
